<!DOCTYPE html>
<html>
  
  <head>
    <title>Restaurant</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #e3f2fd;">
      <a class="navbar-brand">|---KK---|</a>
      <%= link_to "Home", root_path, class: 'navbar-brand' %>
      <%= link_to "Menu", menu_path, class: 'navbar-brand' %>
      <%= link_to "Contact Us", contact_us_path, class: 'navbar-brand' %>
    </nav>      

    <div class="container">
      <% if flash[:error] %><div class="alert alert-danger"><%= flash[:error] %></div><% end %>
      <% if flash[:success] %><div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <%= yield %>  
    </div>
  </body>

</html>
